In [3]:
conda install -c conda-forge mlxtend

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Server\anaconda3

  added / updated specs:
    - mlxtend


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2023.11.17 |       h56e8100_0         151 KB  conda-forge
    certifi-2023.11.17         |     pyhd8ed1ab_0         155 KB  conda-forge
    mlxtend-0.23.1             |     pyhd8ed1ab_0         1.3 MB  conda-forge
    openssl-3.0.12             |       h2bbff1b_0         7.4 MB
    ------------------------------------------------------------
                                           Total:         9.0 MB

The following NEW packages will be INSTALLED:

  mlxtend            conda-forge/noarch::mlxtend-0.23.1-pyhd8ed1ab_0

The following packages will be UPDATED:

  ca-certificates    pkgs/main::ca-certificates-2023.08.22~ --> conda-forge::ca-certificates-2023.11.17-h56e8100_0
  certifi            pkgs/main/win-64::certifi-2023.7.22-p~ --> conda-forge/noarch::certifi-2023.11.17-pyhd8ed1ab_0
  openssl                                 3.0.10-h2bbff1b_2 --> 3.0.12-h2bbff1b_0



Downloading and Extracting Packages

openssl-3.0.12       | 7.4 MB    |            |   0%

mlxtend-0.23.1       | 1.3 MB    |            |   0%


ca-certificates-2023 | 151 KB    |            |   0%



certifi-2023.11.17   | 155 KB    |            |   0%
openssl-3.0.12       | 7.4 MB    |            |   0%



certifi-2023.11.17   | 155 KB    | #          |  10%


ca-certificates-2023 | 151 KB    | #          |  11%
openssl-3.0.12       | 7.4 MB    | 2          |   3%



certifi-2023.11.17   | 155 KB    | ########2  |  82%

mlxtend-0.23.1       | 1.3 MB    | 1          |   1%


ca-certificates-2023 | 151 KB    | ########4  |  85%
openssl-3.0.12       | 7.4 MB    | 4          |   5%

mlxtend-0.23.1       | 1.3 MB    | #7         |  17%



certifi-2023.11.17   | 155 KB    | ########## | 100%


ca-certificates-2023 | 151 KB    | ########## | 100%
openssl-3.0.12       | 7.4 MB    | 6          |   6%

mlxtend-0.23.1       | 1.3 MB    | ##7        |  27%
openssl-3.0.12       | 7.4 MB    | 7          |   8%
openssl-3.0.12       | 7.4 MB    | 9          |   9%

mlxtend-0.23.1       | 1.3 MB    | ###6       |  36%
openssl-3.0.12       | 7.4 MB    | #          |  11%
openssl-3.0.12       | 7.4 MB    | #2         |  13%

mlxtend-0.23.1       | 1.3 MB    | ####3      |  44%
openssl-3.0.12       | 7.4 MB    | #4         |  15%

mlxtend-0.23.1       | 1.3 MB    | #####3     |  53%

mlxtend-0.23.1       | 1.3 MB    | ######2    |  62%
openssl-3.0.12       | 7.4 MB    | #6         |  16%

mlxtend-0.23.1       | 1.3 MB    | #######    |  71%
openssl-3.0.12       | 7.4 MB    | #8         |  18%

mlxtend-0.23.1       | 1.3 MB    | ########   |  81%
openssl-3.0.12       | 7.4 MB    | #9         |  20%

mlxtend-0.23.1       | 1.3 MB    | #########  |  91%
openssl-3.0.12       | 7.4 MB    | ##1        |  21%
openssl-3.0.12       | 7.4 MB    | ##3        |  23%
openssl-3.0.12       | 7.4 MB    | ##5        |  25%
openssl-3.0.12       | 7.4 MB    | ##7        |  27%
openssl-3.0.12       | 7.4 MB    | ##9        |  29%
openssl-3.0.12       | 7.4 MB    | ###1       |  31%
openssl-3.0.12       | 7.4 MB    | ###3       |  34%
openssl-3.0.12       | 7.4 MB    | ###6       |  36%
openssl-3.0.12       | 7.4 MB    | ###8       |  39%

mlxtend-0.23.1       | 1.3 MB    | ########## | 100%

mlxtend-0.23.1       | 1.3 MB    | ########## | 100%
openssl-3.0.12       | 7.4 MB    | ####1      |  42%
openssl-3.0.12       | 7.4 MB    | ####4      |  44%
openssl-3.0.12       | 7.4 MB    | ####7      |  47%
openssl-3.0.12       | 7.4 MB    | #####1     |  51%
openssl-3.0.12       | 7.4 MB    | #####4     |  55%
openssl-3.0.12       | 7.4 MB    | #####7     |  58%
openssl-3.0.12       | 7.4 MB    | ######1    |  61%
openssl-3.0.12       | 7.4 MB    | ######5    |  65%
openssl-3.0.12       | 7.4 MB    | ######8    |  69%
openssl-3.0.12       | 7.4 MB    | #######2   |  72%
openssl-3.0.12       | 7.4 MB    | #######5   |  76%
openssl-3.0.12       | 7.4 MB    | #######8   |  79%
openssl-3.0.12       | 7.4 MB    | ########2  |  82%
openssl-3.0.12       | 7.4 MB    | ########6  |  87%
openssl-3.0.12       | 7.4 MB    | #########  |  90%
openssl-3.0.12       | 7.4 MB    | #########3 |  94%
openssl-3.0.12       | 7.4 MB    | #########7 |  98%
openssl-3.0.12       | 7.4 MB    | ########## | 100%












Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.11.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.11.0

In [6]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules

In [7]:
tit=pd.read_csv("E:\\notebooks file\\titanic.csv")

In [8]:
tit.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

In [9]:
df=pd.get_dummies(tit)

In [10]:
df.head()

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,False,False,True,False,False,True,False,True,True,False
1,False,False,True,False,False,True,False,True,True,False
2,False,False,True,False,False,True,False,True,True,False
3,False,False,True,False,False,True,False,True,True,False
4,False,False,True,False,False,True,False,True,True,False

In [11]:
frequent_itemsets=apriori(df,min_support=0.1,use_colnames=True)

In [12]:
frequent_itemsets

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Age_Adult, Class_1st)
10  0.118582                             (Age_Adult, Class_2nd)
11  0.231713                           (Class_3rd, Gender_Male)
12  0.284871                             (Age_Adult, Class_3rd)
13  0.239891                           (Class_3rd, Survived_No)
14  0.391640                          (Gender_Male, Class_Crew)
15  0.402090                            (Age_Adult, Class_Crew)
16  0.305770                          (Survived_No, Class_Crew)
17  0.193094                         (Age_Adult, Gender_Female)
18  0.156293                      (Survived_Yes, Gender_Female)
19  0.757383                           (Age_Adult, Gender_Male)
20  0.619718                         (Gender_Male, Survived_No)
21  0.166742                        (Survived_Yes, Gender_Male)
22  0.653339                           (Age_Adult, Survived_No)
23  0.297138                          (Age_Adult, Survived_Yes)
24  0.209905                (Age_Adult, Class_3rd, Gender_Male)
25  0.191731              (Class_3rd, Gender_Male, Survived_No)
26  0.216265                (Age_Adult, Class_3rd, Survived_No)
27  0.391640               (Age_Adult, Gender_Male, Class_Crew)
28  0.304407             (Gender_Male, Survived_No, Class_Crew)
29  0.305770               (Age_Adult, Survived_No, Class_Crew)
30  0.143571           (Age_Adult, Survived_Yes, Gender_Female)
31  0.603816              (Age_Adult, Gender_Male, Survived_No)
32  0.153567             (Age_Adult, Survived_Yes, Gender_Male)
33  0.175829   (Age_Adult, Class_3rd, Gender_Male, Survived_No)
34  0.304407  (Age_Adult, Gender_Male, Survived_No, Class_Crew)

In [14]:
rules=association_rules(frequent_itemsets,metric='lift',min_threshold=0.7)

In [15]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Age_Adult),(Class_1st),0.950477,0.147660,0.144934,0.152486,1.032680,0.004587,1.005694,0.639010
1,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,0.004587,2.682493,0.037128
2,(Age_Adult),(Class_2nd),0.950477,0.129487,0.118582,0.124761,0.963505,-0.004492,0.994601,-0.433377
3,(Class_2nd),(Age_Adult),0.129487,0.950477,0.118582,0.915789,0.963505,-0.004492,0.588085,-0.041697
4,(Class_3rd),(Gender_Male),0.320763,0.786461,0.231713,0.722380,0.918520,-0.020555,0.769177,-0.115514
...,...,...,...,...,...,...,...,...,...,...
101,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079,0.344592
102,(Age_Adult),"(Gender_Male, Survived_No, Class_Crew)",0.950477,0.304407,0.304407,0.320268,1.052103,0.015075,1.023334,1.000000
103,(Gender_Male),"(Age_Adult, Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622,0.983509
104,(Survived_No),"(Age_Adult, Gender_Male, Class_Crew)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434,0.399458
105,(Class_Crew),"(Age_Adult, Gender_Male, Survived_No)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802,0.338549

In [16]:
rules.sort_values('lift',ascending=False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
65,"(Age_Adult, Gender_Female)",(Survived_Yes),0.193094,0.323035,0.143571,0.743529,2.301699,0.081195,2.639542,0.700873
68,(Survived_Yes),"(Age_Adult, Gender_Female)",0.323035,0.193094,0.143571,0.444444,2.301699,0.081195,1.452431,0.835403
19,(Gender_Female),(Survived_Yes),0.213539,0.323035,0.156293,0.731915,2.265745,0.087312,2.525187,0.710327
18,(Survived_Yes),(Gender_Female),0.323035,0.213539,0.156293,0.483826,2.265745,0.087312,1.523634,0.825219
69,(Gender_Female),"(Age_Adult, Survived_Yes)",0.213539,0.297138,0.143571,0.672340,2.262724,0.080121,2.145099,0.709577
64,"(Age_Adult, Survived_Yes)",(Gender_Female),0.297138,0.213539,0.143571,0.483180,2.262724,0.080121,1.521732,0.793974
96,"(Age_Adult, Gender_Male)","(Survived_No, Class_Crew)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764,0.986022
101,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079,0.344592
51,(Class_Crew),"(Age_Adult, Gender_Male)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480,0.371976
46,"(Age_Adult, Gender_Male)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,0.087104,1.238157,0.916706
54,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983,0.302519
55,(Gender_Male),"(Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622,0.983509
103,(Gender_Male),"(Age_Adult, Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622,0.983509
94,"(Age_Adult, Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983,0.302519
105,(Class_Crew),"(Age_Adult, Gender_Male, Survived_No)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802,0.338549
92,"(Age_Adult, Gender_Male, Survived_No)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,0.061619,1.205800,0.510929
50,(Gender_Male),"(Age_Adult, Class_Crew)",0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004,0.901730
47,"(Age_Adult, Class_Crew)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621,0.322047
11,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621,0.322047
10,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004,0.901730

In [17]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Age_Adult),(Class_1st),0.950477,0.147660,0.144934,0.152486,1.032680,0.004587,1.005694,0.639010
1,(Class_1st),(Age_Adult),0.147660,0.950477,0.144934,0.981538,1.032680,0.004587,2.682493,0.037128
8,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251,0.139592
9,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,0.022745,1.052040,0.293515
10,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004,0.901730
...,...,...,...,...,...,...,...,...,...,...
101,"(Survived_No, Class_Crew)","(Age_Adult, Gender_Male)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079,0.344592
102,(Age_Adult),"(Gender_Male, Survived_No, Class_Crew)",0.950477,0.304407,0.304407,0.320268,1.052103,0.015075,1.023334,1.000000
103,(Gender_Male),"(Age_Adult, Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622,0.983509
104,(Survived_No),"(Age_Adult, Gender_Male, Class_Crew)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434,0.399458
105,(Class_Crew),"(Age_Adult, Gender_Male, Survived_No)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802,0.338549